

/* basic */
/* head */
header, footer{
    height: 15vh;
    background: rgb(83, 185, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.logo{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    /* background: green; */
    background: url('./public/makeitgreen-logo.jpg');
    background-size: contain;
}

/* main */

main{
    /* height: 100%; */
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main a, main>div{
    /* all:default; */
    display: inline-block;
    height: 24rem;
    width: 80%;
    background: rgb(185, 185, 185);
    background: rgb(48, 48, 48);
    margin: 1rem;
    border-radius: .4rem;
    position: relative;
    overflow: hidden;
}
main .map img{
    height: 100%;
    width: 100%;
    background: url('./img.jpg');
    background-size: contain;
    background-position: center;
    /* height: 5rem; */
    /* width: 4rem; */
}
main .title{
    color: black;
    font-size: 4rem;
    background: rgb(83, 185, 83);
    line-height: normal;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%, 50%);
}
main>*{
    box-shadow: 2px 2px  rgb(83, 185, 83);
    transition: .1s linear;
}
main>*:hover{
    box-shadow: 4px 4px  rgb(83, 185, 83);
}

.map-statics .counter{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background: red;
}
.map-statics img{
    /* width: 3rem; */
    height: 3rem;
}


/* footer */
footer{
    height: 20vh;
    background: rgb(83, 185, 83);
}

.contact{
    height: 90%;
    width: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact img{
    height: 2rem;
    width: 2rem;
}

/* shared */

/* elements */

body{
    height: 100vh;
    margin: 0%;
}
