
/* basic */
/* header */
header{

}

/* main */
main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
main div{
    /* height: 20vh; */
    padding: 1rem;
    margin: .5rem;
    width: 80vw;
    background: red;
}
main div input{
    font-size: 1.5rem;
}

/* footer */

/* shared */


/* absolute elements */
body{
    margin: 0%;
}

